---
const navItems = [
	{ path: '/shop', label: 'Shop' },
	{ path: '/blog', label: 'Blog' },
	{ path: '/about', label: 'About' },
];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@700&display=swap"
			rel="stylesheet"
		/>

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Make great sandwiches at home with sndwch</title>

		<link
			rel="alternate"
			type="application/rss+xml"
			title="sndwch RSS"
			href="/rss.xml"
		/>
	</head>
	<body>
		<header>
			<a href="/" rel="home">
				<span role="img" aria-label="hotdog">🌭</span>
				sndwch
			</a>

			<nav>
				{
					navItems.map((item) => {
						return <a href={item.path}>{item.label}</a>;
					})
				}
			</nav>
		</header>

		<slot />

		<footer>
			<p>
				<a href="https://jason.af/links">created by Jason Lengstorf</a>
				<a href="#frontend-masters-link"
					>learn to build this on Frontend Masters</a
				>
				<a href="https://github.com/learnwithjason/astro-frontend-masters"
					>source code</a
				>
			</p>
		</footer>
	</body>
</html>

<style>
	header {
		align-items: baseline;
		background: var(--color-gray-100);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 1rem;
	}

	a[rel='home'] {
		color: inherit;
		font-family: 'DynaPuff', cursive;
		font-size: 1.5rem;
		font-weight: 700;
		text-decoration: none;
	}

	nav {
		display: flex;
		gap: 1rem;
	}

	nav a {
		color: inherit;
		font-size: 1.25rem;
		font-weight: 700;
		text-decoration: none;
	}

	footer {
		font-size: 0.75rem;
		padding: 3rem 5% 2rem;
	}

	footer p {
		display: flex;
		flex-wrap: wrap;
		gap: 1.5rem;
		justify-content: center;
	}

	footer a {
		color: var(--color-gray-600);
		display: block;
	}

	@media (min-width: 400px) {
		header {
			flex-direction: row;
		}
	}
</style>

<style is:global>
	:root {
		--color-gray-100: hsl(275, 30%, 95%);
		--color-gray-200: hsl(275, 21%, 85%);
		--color-gray-600: hsl(275, 11%, 43%);
		--color-gray-700: hsl(275, 26%, 23%);
		--color-gray-800: hsl(275deg 40% 20% / 1);
		--color-gray-900: hsl(275deg 40% 10% / 1);
	}

	* {
		box-sizing: border-box;
	}

	html {
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
			Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
			'Segoe UI Symbol';
		font-size: 18px;
		line-height: 1.45;
	}

	body {
		margin: 0;
	}

	:is(h1, h2, h3, h4, h5, h6) {
		font-family: 'DynaPuff', cursive;
		font-weight: 700;
		line-height: 1.1;
		margin: 1.5rem 0 0;
	}

	button {
		cursor: pointer;
	}

	.block {
		padding: 3rem max(5vw, calc((100% - 800px) / 2));
	}

	.big-link {
		background-color: var(--color-gray-900);
		border: 0;
		border-radius: 0.25rem;
		color: white;
		display: inline-block;
		font-size: 1rem;
		font-weight: 700;
		margin: 0.5rem 0 0;
		padding: 0.5rem 1.25rem;
		text-decoration: none;
		transition: 150ms background-color linear;
	}

	.big-link:hover {
		background-color: var(--color-gray-800);
	}

	.big-link:is(:active, :focus) {
		outline: 2px solid var(--color-gray-900);
		outline-offset: 4px;
	}
</style>
